<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text">
        <h1>Error!</h1>

    </div>
</body>

<style>
    * {
        font-family: sans-serif;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgb(218, 10, 10);
        height: 50px;
        margin: 15px;
        padding: 10px;
        border-radius: 16px;
        font-size: 20px;
    }
</style>

</html>