<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h2>User already exists, please enter your email and password</h2>
    </header>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Enter email">
        <br>
        <input type="password" name="password" placeholder="Enter password">
        <hr>
        <input type="submit" value="Submit">
        <hr>
    </form>
</body>

</html>