<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h2>Main page</h2>
        <hr>
    </header>
    <h3>Please register</h3>
    <hr>
    <form action="/register" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <input type="number" name="age" placeholder="Enter age">
        <br>
        <input type="text" name="email" placeholder="Enter email">
        <br>
        <input type="password" name="password" placeholder="Create Password">
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <form action="/login">
        <b>or </b>
        <button type="submit"> Login
        </button>
    </form>
    <hr>
</body>

</html>