<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="text-align:center">
        <div class="text">
            <h2>Main page</h2>
        </div>
        <div class="vertical-center">
            <form action="/login" method="GET">
                <button type="submit"> Login
                </button>
            </form>
            <form action="/register" method="GET">
                <div style="margin:15px;">
                    <b>or</b>
                </div>
                <button type="submit"> Register
                </button>
            </form>
        </div>


    </div>
</body>

<style>
    * {
        font-family: sans-serif;
    }

    button {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        width: 150px;
        height: 50px;
        border: 0px solid black;
        border-radius: 16px;
        font-size: 18px;
        box-shadow: 0px 0px 12px 7px rgba(0, 0, 0, 0.19);
        margin: 15px;
    }

    .vertical-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgb(95, 126, 109);
        height: 50px;
        margin: 15px;
        padding: 10px;
        border-radius: 16px;
    }
</style>

</html>