<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/" method="GET">
            <input type="submit" value="Home">
        </form>
        <hr>
        <h3>Please register</h3>
    </div>

    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <br>
        <input type="text" name="email" placeholder="Enter email">
        <br>
        <input type="password" name="password" placeholder="Create Password">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>