<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <h2>Welcome!</h2>
    <form action="/" method="GET"
        <input type="submit" value="Home">
    </form>
    <hr>
    <form action="/logout" method="GET">
        <input type="submit" value="Logout">
    </form>
        <hr>
        {{#each users}}
        <div>
            <h3>
                {{this.name}}, age: {{this.age}} <br>
                email: {{this.email}}
            </h3>

        </div>
        <hr>
        {{/each}}
</body>

</html>