doctype html
html
    head
        include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | June-2020
            br
            a(href="http://localhost:5000") Our site