doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div(class='footer')
            | Best regards
            br
            | June-2020
            br
            a(href="http://localhost:5000") Our site